# Environment variables
.env

# macOS system files
.DS_Store

# Node modules
node_modules/

# Log files
*.log

# MySQL session scratchpads
*.sql
*.session.sql

# VS Code project files (optional)
.vscode/
